@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body class="indexView">
    <div class="inicioSesion">
        <div class="inicioSesionIzq">
            <h1>Iniciar Sesion</h1>
            <form Action='@Url.Action("VerificarUsuario")'>
            <input placeholder="Usuario" type="text" id="nombre" name="nombre"  required/>
            <input placeholder="Contraseña" type="text" id="contra" name="contra"  required/>
            @if(ViewBag.msj != null){
                <p>@ViewBag.msj</p>
            }
            <button type="submit" class="botonIniciarSesion">Iniciar Sesion</button>
            </form>
        </div>

        <div class="registroIndex">
            
          <a href='@Url.Action("registro")'>Registrate</a>
        </div>

        <div class="inicioSesionDer">
            <h1>Iniciar Con...</h1>
            <button class="botonGoogle">Google</button>
            <button class="botonFaceBook">Facebook</button>
            <button class="botonInstagram">Instagram</button>
        </div>

    </div>

    <div class="barraSeparadora"></div>
</body>

</html>