@{
    ViewData["Title"] = "Index";
}

<div class="inicioSesion">
    <div class="inicioSesionIzq">
    <h1>Iniciar Sesion</h1>
    </div>

    <div class="inicioSesionDer">
    <h1>Iniciar Con</h1>
    <button>Crear Cuenta</button>
    </div>
</div>