<div class="card" style="width: 18rem;">
  <div class="card-body">
    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/img/lotrAutor.jpg" width="800px" height="500px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/img/lotr.jpg" width="500px" height="500px" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/img/lotrAutor.jpg" width="500px" height="500px" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>
  <div class="parteCentralEscritor">
    <h1>Nombre Autor</h1>
    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
    <button>Ciencia Ficcion</button>
    <button>Fantasia</button>
    <button>Policial</button>
    <button>Novela Romantica</button>
    <button>Drama</button>
  </div>
</div>