<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="pLibro">
  <div class="panLibro">
  <div class="swiper swiper-hero">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="SwipLibro">
        <img class="portadaLibro" src="/img/lotr.jpg" alt="">
        <h3>El señor de los Anillos</h3>
        <p class="sinopsis">En la Tierra Media, el Señor Oscuro Sauron forjó los Grandes Anillos del Poder y
          creó uno con el poder de esclavizar a toda la Tierra Media. Frodo Bolsón es un
          hobbit al que su tío Bilbo hace portador del poderoso Anillo Único con la misión
          de destruirlo. Acompañado de sus amigos, Frodo emprende un viaje hacia Mordor, el
          único lugar donde el anillo puede ser destruido. Sin embargo, Sauron ordena la persecución
          del grupo para recuperar el anillo y acabar con la Tierra Media.</p>
      <div class="flexGeneros">
        <div>Genero1</div>
        <div>Genero2</div>
        <div>Genero3</div>  
        <div>Genero4</div>
        <div>Genero5</div>
      </div>
        <div class="barraSeparadoraAutor"></div>
        <div class="plibroAutor">
        <img src="~/img/jrrTolkin.jpg">
        <h4>John Ronald Reuel Tolkien</h4>
        <div class="infoAutorInicio">
          <p class="datAutor">John Ronald Reuel Tolkien, a menudo citado como J. R. R. Tolkien o JRRT, fue un escritor, poeta, filólogo,
            lingüista y profesor universitario
            británico, nacido en el Estado Libre de Orange. Conocido principalmente por
            ser el autor de El hobbit y El Señor de los Anillos.</p>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>
</html>

