<body class="registro">
<div class = "cardPrueba">
<form onsubmit="return ChequearRegistro()" Action='@Url.Action("VerificarRegistrarse")'>
    <div class="cardText">
    <input class="Input" type="text" name="Username" placeholder="Nombre de usuario">
    <input onkeyup="Contra1()" class="Input" type="password" name="Contraseña" placeholder="Contraseña" id="ContraseñaRegistrar1" >
    <input onkeyup="Contra2()"  class="Input" type="password" name="Contraseña" placeholder="Ingrese nuevamente la contraseña" id="ContraseñaRegistrar2">
    <input class="Input" type="date" name="fechaNacimiento">
    <input class="Input" type="text" name="email" placeholder="email">
    <input type="submit" class = "siguiente" value="Siguiente">
    </div>
</form>
</div>
<p class="aviso" id="avisoErrorRegistrarse">@ViewBag.Error</p>
</body>